* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: url(./asset/image/city\ view\ from\ sky.jpg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    padding: 30px 40px;
    border-radius: 40px;
    color: white;

}

.container h1 {
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 10px;
    color: black;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    transform: translate(-20px);
    right: 10px;
    top: 20px;
    color: black;
}

.container .forgot-password {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.forgot-password a {
    color: white;
    text-decoration: none;
}

.forgot-password label input {
    cursor: pointer;
    accent-color: whitesmoke;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.container .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    background-color: whitesmoke;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(243, 237, 237, 0.993);
}

.container .register-link {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.register-link p a {
    text-decoration: none;
    color: white;
}

.register-link p a:hover {
    text-decoration: underline;
}


